---
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
